.deco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .card {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex: 0 1 calc(33.333% - 20px); 
        box-sizing: border-box; 

        .card img {
            max-width: 100%;
        }

        .titulo__deco {
            font-size: 20px;
            padding: 1rem;
        }

        .card a {
            background-color: black;
            padding: 0.5rem;
            color: white;
            text-decoration: none;

            .card a:hover {
                background-color: rgb(180, 177, 216);
            }
        }
        
    }
}

.container {
    max-width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    align-items: stretch;
    gap: 1rem;
    box-sizing: border-box;

    .cards {
        padding: 1rem;
        width: 100%;
        overflow: hidden;

        .cards__img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

}