.galeria__1 {
    margin: 1rem;

    .imagen {
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
        overflow: hidden;

        .imagen.img {
            width: 100%;
            padding: 1rem;
            height: auto;

            
            }

        .imagen-transicion {
            transition: transform 0.3s ease, opacity 0.3 easy;

            .imagen-transicion:hover {
                transform: scale(1.1);
                opacity: 0.8;
            

        
                
        }  
        }
    }
}