.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    max-width: 100%;
    height: auto;

    .img-hero{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
  
}

.hero__2 {
    max-width: 850px;
    margin: auto;
    padding: 1rem;

    .hero__2 img {
        display: flex;
        justify-content: center;
        max-width: 750px;
    
    }
     
    
}